# Stock SQL Pipeline

In [29]:
import os
import sqlalchemy
import pymysql
import pandas as pd

In [36]:
class SQLPipeline:
    def __init__(self):
        self.indices_ = ["NASDAQ"]
        self.user_ = "root"
        self.password_ = "stock_autobots"
        self.domain_ = "localhost"
        self.port_ = "3306"
        pymysql.install_as_MySQLdb()

    def create_engine(self, stock_index):
        # NOTE: No longer works being able to create schema "Database" using engine, it doesnt have execute(...)
        engine = sqlalchemy.create_engine(
            f"mysql://{self.user_}:{self.password_}@{self.domain_}:{self.port_}/{stock_index}"
        )
        # engine.execute(sqlalchemy.schema.CreateSchema(index))
        return engine

    def read_stock_metadata(self, url, idx):
        nasdaq = pd.read_html(url)[idx]
        return nasdaq

In [37]:
sql_pipeline = SQLPipeline()

In [39]:
# stock_index = "NASDAQ"
stock_index = "nasdaq_stock"

In [40]:
# sql_pipeline.create_schema(stock_index)
sql_engine = sql_pipeline.create_engine(stock_index)

In [21]:
nasdaq = sql_pipeline.read_stock_metadata("https://en.wikipedia.org/wiki/Nasdaq-100", idx=4)

In [22]:
nasdaq

,Company,Ticker,GICS Sector,GICS Sub-Industry
0,Adobe Inc.,ADBE,Information Technology,Application Software
1,ADP,ADP,Industrials,Human Resource & Employment Services
2,Airbnb,ABNB,Consumer Discretionary,"Hotels, Resorts & Cruise Lines"
3,Align Technology,ALGN,Health Care,Health Care Supplies
4,Alphabet Inc. (Class A),GOOGL,Communication Services,Interactive Media & Services
...,...,...,...,...
96,Warner Bros. Discovery,WBD,Communication Services,Broadcasting
97,"Workday, Inc.",WDAY,Information Technology,Application Software
98,Xcel Energy,XEL,Utilities,Multi-Utilities
99,Zoom Video Communications,ZM,Information Technology,Application Software
100,Zscaler,ZS,Information Technology,Application Software

In [23]:
nasdaq_ticker = nasdaq.Ticker.to_list()

In [25]:
nasdaq_ticker[:10]

['ADBE', 'ADP', 'ABNB', 'ALGN', 'GOOGL', 'GOOG', 'AMZN', 'AMD', 'AEP', 'AMGN']

In [26]:
stock_dir_path = "/home/james/src/datasets/NASDAQ_Yahoo_Finance/stocks"

In [27]:
symbol_name = "GOOG"

In [30]:
google_stock_data_pd = pd.read_csv(os.path.join(stock_dir_path, f"{symbol_name}.csv"))

In [31]:
google_stock_data_pd.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813286  51.835709  47.800831  49.982655  49.982655  44871300
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942800
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342800
3  2004-08-24  55.412300  55.591629  51.591621  52.239193  52.239193  15319700
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232100

In [42]:
google_stock_data_pd.to_sql(symbol_name, sql_engine)

TypeError: __init__() got multiple values for argument 'schema'